/* Import font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/*Resetando todos elementos e definindo font*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Definindo Cor de fundo e height 100%*/

html, body, #root {
  background-color: #fff;
  height: 100%;
}